*, *::after, *::before{
  box-sizing: border-box;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.header{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  height: 770px;
  text-align: center;
}