/* Общие стили */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
@font-face {
	font-family: 'BebasNeueBold'; 
	src: url(/fonts/Bebas\ Neue.ttf); 
}

html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}

.disp-n{
  display: none !important;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}

.section-title{
  color: #48555B;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  letter-spacing: 2px;
}
.section-title::after{
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 11px auto 0;
}

.btn{
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #FFFFFF;
  background: #00A4E5;
  padding: 11px 31px;
}

/* Раздел "Header"*/
.header{
  text-align: center;
  margin-bottom: 55px;
  color: #FFFFFF;
}
.header__top{
  padding-top: 40px;
  height: 768px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__logo {
  display: block;
  margin-bottom: 310px;
}
.header__logo>img{
  height: 23px;
}
.header__title {
  font-family: 'BebasNeueBold';
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5.70937px;
  margin: 0;
  margin-bottom: 5px;
}
.header__description {
  font-size: 16px;
  line-height: 19px;  
  margin-bottom: 224px;
  margin-top: -4px;
  letter-spacing: 0.02em;
}
.header__link{
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 3.85px;
  margin-left: 4px;
}
.header__bottom {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;

  padding-top: 24px;
  padding-bottom: 15px;
}
.header__bottom .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom .header__logo{
  margin-bottom: 0;
}
.header__bottom .header__logo > img{
  width: 80px;
  height: 18px;
}
.header__nav {
  color: #48555B;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  padding-top: 2px;
}
.header-nav__item {
  margin-right: 35px;
}

.header-nav__item:last-child{
  margin-right: 0;
}

.header-nav__item:hover{
  color: #00A4E5;
}

/* Раздел "Our Story" */
.story {
  margin-bottom: 121px;
}
.story__desc {
  max-width: 412px;
}
.story__title{
  text-align: center;
  margin-bottom: 53px;
  line-height: 25px;
}
.story__inner{
  display: flex;
  justify-content: space-between;
}
.story__lead{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04px;
  color: #48555B;
  margin-bottom: 31px;
}
.story__lead>span{
  letter-spacing: -0.16px;
}
.story__text{
  line-height: 23px;
}
.accent-color {
  color: #00a4e5;
}
.story__description {
}
.story__right {
  display: flex;
  align-items: flex-end;
}
.story__item {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;

  padding: 16px;
  color: #FFF;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin-right: 20px;
  background-size: cover;
}
.story__item:nth-child(1){
  background-image: url(../img/we-plan.png);
}
.story__item:nth-child(2){
  background-image: url(../img/we-manage.png);
}
.story__item:nth-child(3){
  background-image: url(../img/we-deliver.png);
  margin-right: 0;
}

/* Раздел services */
.services {
  margin-bottom: 115px;
}
.services__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 40px;
  margin-bottom: 75px;
}
.services__title {
  margin-right: 123px;
  letter-spacing: 2px;
}
.services__title::after{
  margin: 12px 0;
}
.services__description {
  font-size: 11px;
  line-height: 19px;  
  width: 406px;
  letter-spacing: 0.2px;
  margin: 0;
}
.services__btn {
  
}
.services__items {
  display: flex;
}
.services__item {
  border: 1px solid #E6E6E6;
  padding: 38px 22px;
  margin-right: 28px;
}
.services__item:last-child{
  margin-right: 0;
}
.services__item-icon {
  margin-bottom: 18px;
}
.service__title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #48555B;
  margin-bottom: 13px;
  letter-spacing: 0.25px;
}
.service__text {
  margin: 0;
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
}

/* Раздел Get in touch */
.getintouch {
  background-image: url(../img/getintouch-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 498px;
  padding-top: 120px;
  text-align: center;
  background-position: center 0px;
}
.getintouch__title {
  margin: 0 auto;
  width: 350px;
  margin-bottom: 44px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.3px;
  color: #48555B;
}
.getintouch__btn {
  padding: 11px 28px;
}

/* Раздел Newsletter */
.newsletter {
  background: #171819;
  padding: 30px 0;
}
.newsletter__inner{
  display: flex;
  justify-content: center;
}
.newsletter__title {
  font-size: 21px;
  line-height: 41px;
  letter-spacing: 0.86px;
  color: #FFFFFF;
  margin-right: 70px;
}
.newsletter__form {
}
.form__email {
  width: 250px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
  color: #48555B;
  padding: 11px 0 12px 17px;
  border: 0;
}
.form__btn {
  width: 150px;
  border: 0;
  padding: 12px 0;
}

/* Раздел Footer */

.footer {
}
.footer__menu {
  background: #141A20;
  color: #fff;
  font-size: 11px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__menu .container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.company {

}
.company__title {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 21px;
}
.company__logo {
  display: block;
  margin-bottom: 8px;
}
.company__logo>img{
  width: 101.62px;
  height: 23px;
}
.company__description {
  line-height: 19px;
  width: 250px;
  letter-spacing: 0.85px;
}
.links {
  min-width: 262px;
  margin-right: 58px;
}
.links__title {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  margin-bottom: 10px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.links__list {
  margin: 0;
  padding: 0;
}
.links__item {
  list-style-type: none;
}
.links__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
}
.contacts {
  margin-right: 68px;
}
.contacts>a{
  color: #fff;
  text-decoration: none;
}
.contacts__title {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  margin-bottom: 14px;
}
.contacts__list {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
}
.contacts__address {
  margin-bottom: 16px;
}
.contacts__phone {
  margin-bottom: 16px;
}
.contacts__phone>a {
  color: #fff;
  text-decoration: none;
}
.contacts__email>a {
  color: #fff;
  text-decoration: none;
}
.social {
  margin-top: 25px;
  margin-right: 27px;
}
.social__list {
  display: flex;
  justify-content: space-between;
}
.social__item {
  list-style-type: none;
  margin-right: 25px;
}
.social__item:last-child{
  margin-right: 0;
}
.social__link {
}
.footer__copyright {
  background: #171819;
  padding: 22px 0;
}
.copyright__text {
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.846154px;
  margin-left: 10px;
}


@media screen and (max-width: 1440px) {
  .container{
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .container{
    padding: 0 15px;
  }
  .story__desc{
    max-width: 500px;
  }
  .story__text {
    margin-bottom: 15px;
  }
  .story_title_3 {
    text-align: center;
  }
  .story__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts {
    margin-right: 0;
  }
  .story_left {
    max-width: 80%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 740px){
  .header__title{
    font-size: 48px;
  }
  .header__description{
    font-size: 14px;
  }
  .header-nav__item{
    margin-right: 15px;
  }
  .story__desc{
    max-width: 100%;
  }
  .story__text{
    margin-bottom: 18px;
  }
  .services__top{
    margin-bottom: 100px;
  }
  .services__description{
    margin-bottom: 10px;
  }
  .services__item{
    margin-right: 0;
  }
  .services__items{
    flex-wrap: wrap;
  }
  .newsletter__inner{
    flex-direction: column;
    align-items: center;
  }
  .newsletter__title{
    margin-right: 0;
    margin-bottom: 10px;
  }
  .newsletter__form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__email{
    margin-bottom: 10px;
  }

  .footer__menu .container{
    /* align-items: center; */
    justify-content: space-between;
  }
  .links{
    margin-right: 0;
  }
  .company{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .header__title{
    font-size: 32px;
    letter-spacing: 1.70937px;
  }
  .header__description{
    font-size: 12px;
  }
  .header__bottom .container{
    justify-content: center;
  }
  .header__bottom .header__logo{
    display: none;
  }
  .header__nav{
    font-size: 10px;
  }
  
  .story__right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .story__item {
    margin-bottom: 20px;
    margin-right: 0;
    width: 51%;
    height: 350px;
  }
  .story__item:nth-child(3) {
    margin-bottom: 0px;
  }
  .story__left {
    max-width: 100%;
  }

  .services__top{
    margin-bottom: 120px;
  }

  .getintouch__title{
    font-size: 28px;
    width: 100%;
  }
  .footer__menu .container{
    flex-direction: column;
  }
  .links {
    margin-bottom: 30px;
  }

  .footer__menu h3{
    text-align: center;
  }
}
@media screen and (max-width: 360px) { 
  .header-nav__item {
    margin-right: 12px;
  }

  .services__top{
    margin-bottom: 140px;
  }

  .story__item {
    width: 80%;
  }

  .copyright__text{
    font-size: 9px;
  }
}